*.o
*.a
*.DS_Store
*.dSYM
*init.txt
*capture/
fluids/bin/*
fluids/test
game/bin/*
game/test
graphics/bin/*
graphics/test
graphics/capture
mathlib/bin/*
mathlib/test
structures/bin/*
structures/test
ui/test
ui/test.curve
openCL/test
audio/test
graphics/blender_scripts/io_mesh/__pycache__
tools/bake
