*.o
*.obj
*.exe
*.pdb
*.ilk
*.VC.db
*.openDB
*.vcxproj.user
*.a
*.DS_Store
*.dSYM
*init.txt
*capture/
*Debug/
*Release/
*runtime_dlls/
fluids/bin/*
fluids/test
game/bin/*
game/test
graphics/bin/*
graphics/test
graphics/capture
mathlib/bin/*
mathlib/test
structures/bin/*
structures/test
ui/test
ui/test.curve
openCL/test
audio/test
graphics/blender_scripts/io_mesh/__pycache__
tools/bake
visual_studio/.vs
visual_studio/ipch
